<%- include('./partials/header') %>

    <div class="main-view">
      <div class="movie-card">
        <div class="movie-profile">
            <img
                    src=<%= movieDetails.poster_path ? `https://image.tmdb.org/t/p/w500/${movieDetails.poster_path}` : "/images/no-poster.jpg" %> 
                    alt="movie-poster"
                    class="movie-poster"
                    style="transform: scale(0.8)"
            />
            <h1><%= movieDetails.original_title %> </h1>
            <p class="vote-average"><img class="imdb-logo" src="/images/imdb-logo.png"><%= movieDetails.vote_average %>/10</p>
            <p class="movie-year">year: <%= movieDetails.release_date.slice(0, 4) %></p>
            <p class="overview"><%= movieDetails.overview%></p>
            <div class="movie-interactive">
                <form action="/movies/<%=movieDetails.id %>/edit" method="POST">
                    <textarea name="movie-id-added" id="movie-id-added" cols="30" rows="10" style="display: none"><%= movieDetails.id %></textarea>
                    <textarea name="review-title-added" id="review-title-added" cols="30" rows="3" placeholder="review title"><%= movieHasReview.movieReview.reviewTitle %></textarea>
                    <textarea name="review-description-added" id="review-description-added" cols="30" rows="10" placeholder="review description"><%= movieHasReview.movieReview.reviewDescription %></textarea>
                    <button type="submit" class="edit-review">update review</button>                   
                </form>
                <form action="/movies/<%=movieDetails.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="delete-movie">delete</button>
                </form>
                    
            </div> 
        </div>
       
        
      </div>
      <div class="movie-pagination"></div>
      <div class="movie-results"></div>
    </div>

  </body>
</html>